<h1>Your Dashboard</h1>
<form action="/new_post" method="post">
  <p><b>Title: </b><input type="text" name="new_post[title]" placeholder="Google is the new Google"></p>
  <p><b>URL: </b><input type="url" name="new_post[url]" placeholder="https://www.theverge.com"></p>
  <input type="submit" value="Into the wild!">
  </form>